apiVersion: v1
kind: ConfigMap
metadata:
  name: {{.app_name}}-config
  namespace: {{.namespace}}
  labels:
    app: {{.app_name}}
data:
  LOG_LEVEL: "{{.log_level}}"
  APP_PORT: "{{.container_port}}"
  ENABLE_METRICS: "{{.enable_metrics}}"
