apiVersion: v1
kind: Service
metadata:
  name: {{.app_name}}
  namespace: {{.namespace}}
  labels:
    app: {{.app_name}}
spec:
  type: ClusterIP
  selector:
    app: {{.app_name}}
  ports:
  - port: 80
    targetPort: {{.container_port}}
    protocol: TCP
    name: http
{{if .enable_metrics}}  - port: 9090
    targetPort: 9090
    protocol: TCP
    name: metrics
{{end}}
