terraform {
  required_version = ">= 1.0"
  required_providers {
    azurerm = {
      source  = "hashicorp/azurerm"
      version = "~> 3.0"
    }
  }
}

provider "azurerm" {
  features {}
}

resource "azurerm_virtual_network" "{{.vm_name}}_vnet" {
  name                = "{{.vm_name}}-vnet"
  address_space       = ["10.0.0.0/16"]
  location            = "{{.location}}"
  resource_group_name = "{{.resource_group_name}}"

  tags = {
    Environment = "{{.environment}}"
  }
}

resource "azurerm_subnet" "{{.vm_name}}_subnet" {
  name                 = "{{.vm_name}}-subnet"
  resource_group_name  = "{{.resource_group_name}}"
  virtual_network_name = azurerm_virtual_network.{{.vm_name}}_vnet.name
  address_prefixes     = ["10.0.1.0/24"]
}

resource "azurerm_network_security_group" "{{.vm_name}}_nsg" {
  name                = "{{.vm_name}}-nsg"
  location            = "{{.location}}"
  resource_group_name = "{{.resource_group_name}}"

  security_rule {
    name                       = "SSH"
    priority                   = 1001
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "Tcp"
    source_port_range          = "*"
    destination_port_range     = "22"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  }

  security_rule {
    name                       = "HTTP"
    priority                   = 1002
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "Tcp"
    source_port_range          = "*"
    destination_port_range     = "80"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  }

  security_rule {
    name                       = "HTTPS"
    priority                   = 1003
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "Tcp"
    source_port_range          = "*"
    destination_port_range     = "443"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  }

  tags = {
    Environment = "{{.environment}}"
  }
}
{{if .enable_public_ip}}
resource "azurerm_public_ip" "{{.vm_name}}_public_ip" {
  name                = "{{.vm_name}}-public-ip"
  location            = "{{.location}}"
  resource_group_name = "{{.resource_group_name}}"
  allocation_method   = "Static"
  sku                 = "Standard"

  tags = {
    Environment = "{{.environment}}"
  }
}
{{end}}
resource "azurerm_network_interface" "{{.vm_name}}_nic" {
  name                = "{{.vm_name}}-nic"
  location            = "{{.location}}"
  resource_group_name = "{{.resource_group_name}}"

  ip_configuration {
    name                          = "internal"
    subnet_id                     = azurerm_subnet.{{.vm_name}}_subnet.id
    private_ip_address_allocation = "Dynamic"
{{if .enable_public_ip}}    public_ip_address_id          = azurerm_public_ip.{{.vm_name}}_public_ip.id
{{end}}  }

  tags = {
    Environment = "{{.environment}}"
  }
}

resource "azurerm_network_interface_security_group_association" "{{.vm_name}}_nic_nsg" {
  network_interface_id      = azurerm_network_interface.{{.vm_name}}_nic.id
  network_security_group_id = azurerm_network_security_group.{{.vm_name}}_nsg.id
}

resource "azurerm_linux_virtual_machine" "{{.vm_name}}" {
  name                = "{{.vm_name}}"
  resource_group_name = "{{.resource_group_name}}"
  location            = "{{.location}}"
  size                = "{{.vm_size}}"
  admin_username      = "{{.admin_username}}"
  network_interface_ids = [
    azurerm_network_interface.{{.vm_name}}_nic.id,
  ]

  admin_ssh_key {
    username   = "{{.admin_username}}"
    public_key = "{{.ssh_public_key}}"
  }

  os_disk {
    caching              = "ReadWrite"
    storage_account_type = "Premium_LRS"
    disk_size_gb         = {{.os_disk_size_gb}}
  }

  source_image_reference {
    publisher = "Canonical"
    offer     = "0001-com-ubuntu-server-jammy"
    sku       = "22_04-lts-gen2"
    version   = "latest"
  }

  tags = {
    Environment = "{{.environment}}"
  }
}

output "vm_id" {
  description = "Virtual Machine ID"
  value       = azurerm_linux_virtual_machine.{{.vm_name}}.id
}
{{if .enable_public_ip}}
output "public_ip" {
  description = "Public IP address"
  value       = azurerm_public_ip.{{.vm_name}}_public_ip.ip_address
}
{{end}}
output "private_ip" {
  description = "Private IP address"
  value       = azurerm_network_interface.{{.vm_name}}_nic.private_ip_address
}
