apiVersion: v1
kind: Secret
metadata:
  name: {{.secret_name}}
  namespace: {{.namespace}}
  labels:
    app: {{.app_name}}
type: {{.secret_type}}
data:
  DB_USERNAME: {{b64enc .db_username}}
  DB_PASSWORD: {{b64enc .db_password}}
  API_KEY: {{b64enc .api_key}}
